* {
    box-sizing: border-box;
}

.not-valid {
    border: 1px solid lightcoral;
    background: lightpink;
}

.bg-danger {
    background-color: #C5313A !important;
}

.nav-link {
    color: rgba(255, 255, 255, 0.9) !important;
}
.nav-link:hover {
    color: rgba(0, 0, 0, 0.9) !important;
    cursor: pointer;
}
#video {
    width: 560px;
    height: 315px;
    max-width: 80vw;
    max-height: 45vw;
}
.contact-heading {
    text-align: center;
}